body {
  background-color: #E5E5E5;
  color: #212121;
  font-family: "Roboto", Open Sans, sans-serif;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}


/* Header*/
.page-header {
  background: #FFFFFF;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo-dark {
  color: #000000;
}

/* site-nav */
.site-nav .link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}

/* Menu header contacts */
.header-contacts .link {
  color: #757575;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: #2196F3;
}

/* Page Hero */
.page-hero {
  background: #2F303A;
}

.hero-title {
  color: #FFFFFF;
}

button {
  background: #2196F3;
  color: #FFFFFF;
}

/* Features */
.section-features {}

.features-name {
  visibility: hidden;
}

.features {}

.features-item {}

.features-title {
  color: #212121;
}

.features-text {
  color: #757575;
}

/* Works */
.section-works {}

.works-title {
  color: #212121;
}

.works-item {}

.works-list {}

.work-img {}

/* Team */
.section-team {}

.team-title {}

.team-item {}

.team-list {}

.team-img {}

.team-name {}

.team-position {}

/* Footer */
.page-footer {}

.logo-light {
  color: #FFFFFF;
}

.page-address {}

.address-list {}

.address-item {}